<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Include your header fragment -->
	<title>Home</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:insert="~{fragment/header :: header}"></header>
	<div th:insert="~{fragment/nav :: nav}"></div>

	<!-- Navigation links -->
	<ul>
		<li><a href="/secure/admin/cpu">CPU</a></li>
		<li><a href="/secure/admin/graphicscard">Graphics Card</a></li>
		<li><a href="/secure/admin/memory">Memory</a></li>
		<li><a href="/secure/admin/motherboard">Motherboard</a></li>
		<li><a href="/secure/admin/storage">Storage</a></li>
		<!--		<li><a href="/secure/admin/users">Stored Users</a></li>Only if I have time!-->
		<!-- Add more links for other components -->
	</ul>

	<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>

</html>