<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table th:if="${customers != null AND customers != ''}">
    <tr><th>Username</th><th>Password</th><th>Email</th></tr>
    <tr th:each="b : ${customers}">
        <td th:text="${b.username}"></td>
        <td th:text="${b.password}"></td>
        <td th:text="${b.email}"></td>
        <!--        <td><a th:href="@{'/secure/editBook/'} + ${a.isbn}">Edit</a></td>-->
        <!--        <td><a th:href="@{'/secure/deleteBook/'} + ${a.isbn}">Delete</a></td>-->
    </tr>
</table>

</body>
</html>