<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    body {
        text-align: center;
    }
    </style>
</head>
<body>
<h1>Welcome to the login page!</h1>
<h2>Please sign in</h2>
<form method="post" th:action="@{/login}">
    <div th:if="${param.error}">
        <div class="error">
            Invalid credentials
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="success">
            You have been logged out
        </div>
    </div>
    <input type="email" name="username" /><br>
    Password: <input type="password" name="password" /><br>
    <input type="submit" value="Log In" name="login-submit" />
</form>
</body>
</html>