<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .menu-admin, .menu {
            display: flex;
            justify-content: space-around;
            background-color: #eee; /* Add your desired background color */
            padding: 10px;
        }

        .menu-admin span, .menu span {
            margin: 0 10px;
        }

        .menu-admin a, .menu a {
            text-decoration: none;
            color: #333; /* Add your desired color */
        }
    </style>
</head>
<body>
<div class="menu-admin">
    <span><a href="#">Admin Option 1</a></span>
    <span><a href="#">Admin Option 2</a></span>
</div>
<div class="menu">
    <span><a href="#">Option 1</a></span>
    <span><a href="#">Option 2</a></span>
    <span><a href="#">Option 3</a></span>
</div>

</body>
</html>