<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .menu-admin, .menu {
            display: flex;
            justify-content: space-around;
            background-color: #eee; /* Add your desired background color */
            padding: 10px;
        }

        .menu-admin span, .menu span {
            margin: 0 10px;
        }

        .menu-admin a, .menu a {
            text-decoration: none;
            color: #333; /* Add your desired color */
        }
    </style>
</head>
<body>
<div class="user-menu">
    <span><a href="/">Home</a></span>
    <span><a href="/conversionRate">Conversion Rate</a></span>
    <span><a href="/conversionCalculator">Conversion Calculator</a></span>
    <span><a href="/stocks">Stocks</a></span>


    <span><a href="#">Account</a></span>
    <span><a href="/logout">Logout</a></span>

</div>
<div class="menu">
    <span><a href="/">Home</a></span>
    <span><a href="/conversionRate">Conversion Rate</a></span>
    <span><a href="/conversionCalculator">Conversion Calculator</a></span>
<!--    <span><a href="/stocks">Stocks</a></span>-->

    <span><a href="/register">Register</a></span>
    <span><a href="/login">Login</a></span>
</div>
<div class="admin-menu">
    <span><a href="/">Home</a></span>
    <span><a href="/conversionRate">Conversion Rate</a></span>
    <span><a href="/conversionCalculator">Conversion Calculator</a></span>
    <span><a href="/stocks">Stocks</a></span>

    <span><a href="#">User Accounts</a></span>
    <span><a href="/logout">Logout</a></span>
</div>

</body>
</html>