<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>
<body>
<h1>Register Here!</h1>
<div id="error" class="error"></div>
<form name="form" action="#" th:action="@{/register}" method="post" onsubmit="return verify()">
    Email: <input type="email" name="username" /><br>
    Password: <input type="password" name="password" /><br>
    Verify Password: <input type="password" name="verifyPassword" /><br>
    <input type="submit" value="Register">
</form>

</body>
</html>