<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Memory</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:insert="~{fragment/header :: header}"></header>
	<div th:insert="~{fragment/nav :: nav}"></div>
	<h1>Memory Page</h1>

	<ul>
		<li th:each="memory : ${memories}">
			<a th:href="'/secure/user/memory/' + ${memory.id}" th:text="${memory.model}"></a>
		</li>
	</ul>

	<a href="/secure/user/index">Home</a>
	<footer th:replace="~{fragment/footer :: footer}"></footer>
</body>

</html>