<nav>
    <div th:fragment="header">
<!--        <img id="system-logo" height="95px" src="../../static/images/spring-boot-logo.png"
             th:src="@{/images/spring-boot-logo.png}" />-->
        <span id="system-name" style="font-size:20pt;">Computer Hardware Galore!</span>
    </div>
<!--    <ul>
        <li><a th:href="@{/}" th:text="#{menu.home}">Home</a></li>
        <li><a th:href="@{/cpu}" th:text="#{menu.cpu}">CPU</a></li>
        <li><a th:href="@{/graphicscard}" th:text="#{menu.graphicscard}">Graphics Card</a></li>
         Add more navigation items for other components 
        <li><a th:href="@{/login}" th:text="#{menu.login}">Login</a></li>
        <li><a th:href="@{/register}" th:text="#{menu.register}">Register</a></li>
    </ul>-->
</nav>
