<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Exchange Rates</title>-->
<!--    <link href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<header th:insert="~{fragments/header.html :: header}"></header>-->
<!--<div th:replace="${admin} ? ~{fragments/menu.html :: div.menu-admin} : ~{fragments/menu.html :: div.menu}"></div>-->
<!--<h1>Exchange Rates</h1>-->

<!--<form th:action="@{/convert}" method="post" th:object="${conversionForm}">-->
<!--    <div>-->
<!--        <label for="baseCurrency">Base Currency:</label>-->
<!--        <select th:field="*{baseCurrency}" id="baseCurrency" required>-->
<!--            <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <div>-->
<!--        <label for="amount">Amount:</label>-->
<!--        <input type="number" th:field="*{amount}" id="amount" required>-->
<!--    </div>-->

<!--    <div>-->
<!--        <label for="targetCurrency">Target Currency:</label>-->
<!--        <select th:field="*{targetCurrency}" id="targetCurrency" required>-->
<!--            <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <div>-->
<!--        <button type="submit">Convert</button>-->
<!--    </div>-->
<!--</form>-->

<!--<table>-->
<!--    &lt;!&ndash; Display exchange rates as before &ndash;&gt;-->
<!--</table>-->

<!--<div th:if="${conversionResult}">-->
<!--    <p th:text="'Converted amount: ' + ${conversionResult} + ' ' + ${targetCurrency}"></p>-->
<!--</div>-->

<!--<footer th:replace="~{fragments/footer.html :: footer}"></footer>-->
<!--</body>-->
<!--</html>-->

<!--this one works below!!-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exchange Rates</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            text-align: center;
        }
    </style>

</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">

    <!-- If authenticated, include the admin menu fragment -->
    <div th:replace="~{fragments/menu.html :: div.user-menu}"></div>
</div>
<div th:unless="${#authorization.expression('isAuthenticated')}">
    <!-- If not authenticated, include the regular menu fragment -->
    <div th:replace="~{fragments/menu.html :: div.menu}"></div>
</div>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <div th:replace="~{fragments/menu.html :: div.admin-menu}"></div>

    <p>User has the role: ROLE_ADMIN</p>
</div>

<div sec:authorize="isAuthenticated()">
    <h1>
        Welcome,
        <span th:text="${userName}"></span><br>
    </h1>
</div>



<h2 class="mt-4 mb-4">Exchange Rates</h2>
<p th:text=" 'BaseCurrency in : ' + ${baseCode}"></p>
<form th:action="@{/changeBaseCurrency}" method="get">
    <label for="newBaseCurrency">Enter new base currency:</label>
    <!-- Use datalist for autocomplete -->
    <input type="text" id="newBaseCurrency" name="baseCurrency" list="currencyOptions" autocomplete="off" required>
    <datalist id="currencyOptions">
        <!-- Add options based on the currencies you want to suggest -->
        <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}"></option>
    </datalist>
    <button type="submit">Change Base Currency</button>
</form>
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Currency</th>
        <th>Exchange Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each : ${exchangeRates}">
        <td th:text="${each.key}"></td>
        <td th:text="${each.value}"></td>

    </tr>
    </tbody>
</table>
</div>

<footer th:replace="~{fragments/footer.html :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</body>
</html>
